* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-color: #e0f7b1;
  }
  